<div class="differenceInCalendarQuarters">
  <app-page-layout>
    <h2>differenceInCalendarQuarters</h2>
    <span class="desc">获取给定日期之间的日历季度数。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Number</td>
        <td>日历季度数</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // How many calendar quarters are between 31 December 2013 and 2 July 2014?
            var result = differenceInCalendarQuarters(
              new Date(2014, 6, 2),
              new Date(2013, 11, 31)
            )
            //=> 3
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
