<div class="setSeconds">
  <app-page-layout [hasException]="true">
    <h2>setSeconds</h2>
    <span class="desc">为给定日期设置秒</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>设置秒数后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-table [nzData]="dataSet" class="exceptions" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TypeError</td>
        <td>必须要两个参数</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
            // 将 1 September 2014 11:30:40 设置为45秒:
           var result = setSeconds(new Date(2014, 8, 1, 11, 30, 40), 45)
           //=> Mon Sep 01 2014 11:30:45
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
