<div class="isAfter">
  <app-page-layout>
    <h2>isAfter</h2>
    <span class="desc">第一个日期是否在第二个日期之后</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Boolean</td>
        <td>第一个日期是否在第二个日期之后</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // 1989-7-10在1987-2-11之后？
          var result = isAfter(new Date(1989, 6, 10), new Date(1987, 1, 11))
          //=> true
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
