<div class="subHours">
  <app-page-layout [hasException]="true">
    <h2>subHours</h2>
    <span class="desc">从给定日期减去指定的小时数。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>减去小时后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-table [nzData]="dataSet" class="exceptions" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TypeError</td>
        <td>必须要两个参数</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
            // 11 July 2014 01:00:00 减去两小时:
           var result = subHours(new Date(2014, 6, 11, 1, 0), 2)
           //=> Thu Jul 10 2014 23:00:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
