<div class="isTomorrow">
  <app-page-layout>
    <h2>isTomorrow</h2>
    <span class="desc">给定日期是否是明天？</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Boolean</td>
        <td>是否是明天</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
      // If today is 6 October 2014, is 7 October 14:00:00 tomorrow?
      var result = isTomorrow(new Date(2014, 9, 7, 14, 0))
      //=> true
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
