<div class="setHours">
  <app-page-layout [hasException]="true">
    <h2>setHours</h2>
    <span class="desc">为给定日期设置小时数。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>设置小时数后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-table [nzData]="dataSet" class="exceptions" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TypeError</td>
        <td>必须要两个参数</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
        // Set 4 hours to 1 September 2014 11:30:00:
       var result = setHours(new Date(2014, 8, 1, 11, 30), 4)
       //=> Mon Sep 01 2014 04:30:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
