<div class="areRangesOverlapping">
  <app-page-layout [hasException]="true">
    <h2>areRangesOverlapping</h2>
    <span class="desc">给定的日期范围是否与另一个日期范围重叠?</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Boolean</td>
        <td>日期范围是否重叠</td>
      </tr>
      </tbody>
    </nz-table>

    <nz-table [nzData]="dataSet" class="exceptions" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Error</td>
        <td>日期范围的startDate不能在其结束日期之后</td>
      </tr>
      </tbody>
    </nz-table>



    <nz-card>
      <blockquote>
          <pre>
          // 范围有重叠
          areRangesOverlapping(
            new Date(2014, 0, 10), new Date(2014, 0, 20), new Date(2014, 0, 17), new Date(2014, 0, 21)
          )
          //=> true
          </pre>
      </blockquote>

      <blockquote>
          <pre>
          // 范围无重叠
          areRangesOverlapping(
            new Date(2014, 0, 10), new Date(2014, 0, 20), new Date(2014, 0, 21), new Date(2014, 0, 21)
          )
          //=> false
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
