<div class="isSameDay">
  <app-page-layout>
    <h2>isSameDay</h2>
    <span class="desc">给定日期是否在同一天？</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Boolean</td>
        <td>给定日期是否在同一天</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
      // Are 4 September 06:00:00 and 4 September 18:00:00 in the same day?
      var result = isSameDay(
        new Date(2014, 8, 4, 6, 0),
        new Date(2014, 8, 4, 18, 0)
      )
      //=> true
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
