<div class="addYears">
  <app-page-layout>
    <h2>addYears</h2>
    <span class="desc">将指定的年数添加到给定日期。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>添加年数后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
            // Add 5 years to 1 September 2014:
            var result = addYears(new Date(2014, 8, 1), 5)
            //=> Sun Sep 01 2019 00:00:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
