<div class="endOfSecond">
  <app-page-layout>
    <h2>endOfSecond</h2>
    <span class="desc">返回给定日期的秒结束。结果将出现在本地时区</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>秒结束</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // 1 December 2014 22:15:45.400 的最后一刻，以秒结束:
          var result = endOfSecond(new Date(2014, 11, 1, 22, 15, 45, 400))
          //=> Mon Dec 01 2014 22:15:45.999
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
