<div class="setMinutes">
  <app-page-layout [hasException]="true">
    <h2>setMinutes</h2>
    <span class="desc">为给定日期设置分钟。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>设置分钟后的新日期</td>
      </tr>
      </tbody>
    </nz-table>



    <nz-table [nzData]="dataSet" class="exceptions" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TypeError</td>
        <td>必须传两个参数</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
         // 设置分钟数为45
         var result = setMinutes(new Date(2014, 8, 1, 11, 30, 40), 45)
         //=> Mon Sep 01 2014 11:45:40
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
