<div class="startOfQuarter">
  <app-page-layout>
    <h2>startOfQuarter</h2>
    <span class="desc">返回给定日期所在季度的开始，结果将在当地时区。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>季度的开始</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
            // The start of a quarter for 2 September 2014 11:55:00:
            var result = startOfQuarter(new Date(2014, 8, 2, 11, 55, 0))
            //=> Tue Jul 01 2014 00:00:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
