<div class="getSeconds">
  <app-page-layout>
    <h2>getSeconds</h2>
    <span class="desc">获取给定日期的秒数</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Number</td>
        <td>秒</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // 获取 29 February 2012 11:45:05.123 的秒数:
          var result = getSeconds(new Date(2012, 1, 29, 11, 45, 5, 123))
          //=> 5
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
