<div class="subDays">
  <app-page-layout>
    <h2>subDays</h2>
    <span class="desc">从给定日期减去指定的天数。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>减去天数后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
        // Subtract 10 days from 1 September 2014:
        var result = subDays(new Date(2014, 8, 1), 10)
        //=> Fri Aug 22 2014 00:00:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
