<div class="setDate">
  <app-page-layout>
    <h2>setDate</h2>
    <span class="desc">为所传参数设置给定的日期。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>设置日期后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
      // Set the 30th day of the month to 1 September 2014:
      var result = setDate(new Date(2014, 8, 1), 30)
      //=> Tue Sep 30 2014 00:00:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
