.layout{
  .header {
    display: flex;
    align-items: center;
    .logo{
      font-size: 20px;
      span{
        color: #ffffffa6;
        font-size: 14px;
        margin-left: 10px;
      }
    }
    ul{
      height:100%;
      line-height: 64px;
      color: #fff;
      margin-left: 100px;
    }
  }

  .layout{
    .slider{
      position: fixed;
      height:100%;
      overflow: scroll;

      .menu li{
        color: #fff;
        span{
          color: #fff;
        }
      }
    }
    .content{
      background-color: #eee;
      padding: 20px 20px 0 0;
      margin-left: 200px;
    }
  }
}
