<nz-layout class="layout">
  <nz-header class="header">
    <div class="logo">
      <a href="https://date-fns.org/" target="_blank">date-fns</a>
      <span>v1.30.0</span>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" [nzSelectable]="false">
      <li nz-menu-item><a href="https://github.com/date-fns/date-fns" target="_blank">GitHub</a></li>
      <li nz-menu-item>Author</li>
    </ul>
  </nz-header>
  <nz-layout class="layout-slider">
    <nz-sider class="slider">
      <ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'" class="menu" *ngIf="currentInfo">


        <li nz-submenu *ngFor="let menu of menus;" [nzOpen]="menu.title === currentInfo.parent">
          <span title>{{menu.title}}</span>
          <ul>
            <li nz-menu-item *ngFor="let child of menu.children;" [nzSelected]="child.title === currentInfo.label" [routerLink]="'/' + child.title">{{child.title}}</li>
          </ul>
        </li>



      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content class="content">
        <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
          <nz-breadcrumb-item>List</nz-breadcrumb-item>
          <nz-breadcrumb-item>App</nz-breadcrumb-item>
        </nz-breadcrumb>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
