<div class="isSameHour">
  <app-page-layout [hasException]="true">
    <h2>isSameHour</h2>
    <span class="desc">给定日期的小时数是否相同？</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Boolean</td>
        <td>小时数是否相同</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-table [nzData]="dataSet" class="exceptions" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TypeError</td>
        <td>必须要两个参数</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
         // Are 4 September 2014 06:00:00 和 4 September 06:30:00 小时数是否相同?
         var result = isSameHour(new Date(2014, 8, 4, 6, 0), new Date(2014, 8, 4, 6, 30))
         //=> true
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
