<div class="min">
  <app-page-layout>
    <h2>min</h2>
    <span class="desc">返回给定日期的最早日期。</span>

    <nz-table [nzData]="dataSet" class="return">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>返回给定日期的最早日期。</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // 哪个参数是最早日期?
         var result = min(
          new Date(1989, 6, 10),
          new Date(1987, 1, 11),
          new Date(1995, 6, 2),
          new Date(1990, 0, 1)
        )
        //=> Wed Feb 11 1987 00:00:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
