<div class="subISOYears">
  <app-page-layout>
    <h2>subISOYears</h2>
    <span class="desc">从给定日期减去指定数量的ISO周编号年份。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>减去年份后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
            // Subtract 5 ISO week-numbering years from 1 September 2014:
            var result = subISOYears(new Date(2014, 8, 1), 5)
            //=> Mon Aug 31 2009 00:00:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
