<div class="addHours">
  <app-page-layout [hasException]="true">
    <h2>addHours</h2>
    <span class="desc">将指定的小时数添加到给定日期。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>增加小时后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-table [nzData]="dataSet" class="exceptions" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TypeError</td>
        <td>必须要两个参数</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
        // 给 July 2014 23:00:00 加两小时:
        var result = addHours(new Date(2014, 6, 10, 23, 0), 2)
        //=> Fri Jul 11 2014 01:00:00
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
