<div class="isPast">
  <app-page-layout>
    <h2>isPast</h2>
    <span class="desc">所传日期是否在过去</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Boolean</td>
        <td>日期是否在过去</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // 如果今天是2014-10-6, 2014-6-2是否在过去?
          var result = isPast(new Date(2014, 6, 2))
          //=> true
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
