<div class="subMilliseconds">
  <app-page-layout>
    <h2>subMilliseconds</h2>
    <span class="desc">为给定日期减去指定的毫秒数。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>减去毫秒数后的新日期</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // Subtract 750 milliseconds from 10 July 2014 12:45:30.000:
          var result = subMilliseconds(new Date(2014, 6, 10, 12, 45, 30, 0), 750)
          //=> Thu Jul 10 2014 12:45:29.250
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
