<div class="isSameSecond">
  <app-page-layout>
    <h2>isSameSecond</h2>
    <span class="desc">所传日期是否在同一秒内（即秒数相同）</span>

    <nz-table [nzData]="dataSet" class="return">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Boolean</td>
        <td>日期在同一秒内</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // 秒数相同?
          var result = isSameSecond(
            new Date(2014, 8, 4, 6, 30, 15),
            new Date(2014, 8, 4, 6, 30, 15, 500)
          )
          //=> true
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
