<div class="isThisQuarter">
  <app-page-layout>
    <h2>isThisQuarter</h2>
    <span class="desc">给定日期的季度是否与当前相同？</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Boolean</td>
        <td>给定日期的季度是否与当前相同</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
            // If today is 25 September 2014, is 2 July 2014 in this quarter?
            var result = isThisQuarter(new Date(2014, 6, 2))
            //=> true
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
