<div class="differenceInMinutes">
  <app-page-layout [hasException]="true">
    <h2>differenceInMinutes</h2>
    <span class="desc">获取给定日期之间的分钟数。</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Number</td>
        <td>分钟数。</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-table [nzData]="dataSet" class="exceptions" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>TypeError</td>
        <td>必须要两个参数</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
           // 2 July 2014 12:07:59 和 2 July 2014 12:20:00 相差多少分钟?
           var result = differenceInMinutes(
             new Date(2014, 6, 2, 12, 20, 0),
             new Date(2014, 6, 2, 12, 7, 59)
           )
           //=> 12
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
