<div class="addMilliseconds">
  <app-page-layout>
    <h2>addMilliseconds</h2>
    <span class="desc">将指定的毫秒数添加到给定日期</span>

    <nz-table [nzData]="dataSet" class="return" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>类型</th>
        <th>说明</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Date</td>
        <td>添加毫秒后的新日期。</td>
      </tr>
      </tbody>
    </nz-table>


    <nz-card>
      <blockquote>
          <pre>
          // 2014-7-10 12:45:30.000  增加750毫秒
          var result = addMilliseconds(new Date(2014, 6, 10, 12, 45, 30, 0), 750)
          //=> Thu Jul 10 2014 12:45:30.750
          </pre>
      </blockquote>
    </nz-card>
  </app-page-layout>
</div>
